@use "mixins/boundries";
@use "mixins/blog";
@use "mixins/box";
@use "mixins/buttons";
@use "mixins/content";
@use "mixins/fonts";
@use "mixins/footer";
@use "mixins/notfound";
@use "mixins/params";
@use "mixins/projects";
@use "mixins/sections";
@use "mixins/sidebar";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: params.$red;
    font-family: ubuntu;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
    background: params.$bgPrimary; 
}

::-webkit-scrollbar-thumb {
    background: params.$bgSecondary; 
}

::-webkit-scrollbar-thumb:hover {
    background: params.$darkred; 
}

::selection {
    background-color: params.$darkpurple;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -20;
    object-fit: cover;
}

header {
    padding: 5px 15px
}

.section {
    margin-bottom: 15px;
}

.page-content {
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

.sidebar-blog-item {
    margin-left: 1rem;
}

.profile-icon {
    border: 5px solid params.$red;
    border-radius: 50%;
    max-width: 196px;
    max-height: 196px;
    margin-right: 15px;

    &:hover {
        animation: spin 2s forwards infinite;
        cursor: pointer;
    }
}

.no-content {
    @extend %center;
    max-width: 100%;
    width: 240px;
    max-height: 100%;
    height: 70px;
    padding: 5px;
    border: 2px solid params.$red;
    border-radius: params.$br;
}

input[type="password"] {
    display: block;
    background-color: black;
    border: 2px solid params.$red;
    border-radius: calc(params.$br / 2);
    padding: 7px 10px;
    font-size: 20px;
}



@media (max-width: 1000px) {
    // add margin to the right of page-content-left when the page is large enough
    .page-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    // make the background not loop on mobile
    body {
        background-size: auto !important;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

