footer, .content-box .content-box-top, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-welcum-section .home-welcum-content, header .left-info-content {
  display: flex;
  justify-content: left;
  align-items: center;
}

.no-content, .home-welcum-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  flex-wrap: wrap;
  padding: 20px !important;
  background-color: #1e1e1e;
  border-bottom: 1px solid #2a2a2a;
}
header .left-info-content {
  cursor: pointer;
  transition: 200ms ease-in;
}
header .left-info-content .me {
  margin-left: 10px;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
header .left-info-content:hover p {
  text-shadow: 0px 1px 3px #44ff44;
  color: #44ff44;
}
header .left-info-content:hover .me {
  border: 2px solid #44ff44;
}
header .links {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
}
header .links .link {
  display: flex;
  align-items: center;
  transform: rotate(5deg);
  border-radius: 15px;
  margin-right: 15px;
  background-image: linear-gradient(#2e2e2e, #1e1e1e);
  box-shadow: 4px 4px 0px #2e2e2e;
  padding: 13px 20px;
  list-style-type: none;
  cursor: pointer;
  transition: 30ms ease-in;
}
header .links .link:hover {
  background-image: linear-gradient(#1e1e1e, #3e3e3e);
}
header .left-content {
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
}
header .left-content .me-img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
header .left-content .sidebar-enter-button, header .left-content .cover-enter-button {
  margin-right: 5px;
  cursor: pointer;
}
header .left-content .sidebar-enter-button i:hover, header .left-content .cover-enter-button i:hover {
  color: #770000 !important;
}

.clickable-element {
  text-decoration: none;
}

.cover-enter-button {
  display: none;
}

@media (max-width: 1000px) {
  .left-info-content p {
    display: none;
  }
}
@media (max-width: 800px) {
  .link {
    font-size: 18px;
    margin-right: 8px !important;
    box-shadow: 3px 3px 0px #2e2e2e !important;
    padding: 10px 14px !important;
  }
  .link .link-text {
    display: none;
  }
  .link:active {
    box-shadow: 0px 0px 0px #2e2e2e !important;
    transform: translateX(3px) translateY(3px) !important;
  }
}
@media (max-width: 600px) {
  .link {
    margin-right: 8px !important;
    box-shadow: 3px 3px 0px #2e2e2e !important;
    padding: 5px !important;
  }
  .link .link-text {
    display: none;
  }
  .link:active {
    box-shadow: 0px 0px 0px #2e2e2e !important;
    transform: translateX(3px) translateY(3px) !important;
  }
  .me {
    display: none;
  }
  .sidebar-enter-button {
    display: none;
  }
  .cover-enter-button {
    display: block;
  }
}
.blog-area {
  width: 100%;
  background-color: #1e1e1e;
}
.blog-area .blog-exit-link {
  display: block;
  background-color: #2e2e2e;
  font-size: 20px;
  width: 100%;
  padding: 15px;
}
.blog-area .blog-title {
  padding: 2rem 8rem 0 8rem;
  font-weight: bold;
  font-size: 80px;
}
.blog-area .blog-area-content {
  padding: 0 8rem 8rem 8rem;
  height: 100%;
}
.blog-area .blog-area-content h2 {
  font-size: 45px;
  padding: 1.5rem 0 0 0;
}
.blog-area .blog-area-content h3 {
  font-size: 35px;
  padding: 1.5rem 0 0 0;
}
.blog-area .blog-area-content h4 {
  font-size: 27px;
}
.blog-area .blog-area-content a, .blog-area .blog-area-content p {
  font-family: ubuntu !important;
}
.blog-area .blog-area-content a {
  color: #770000;
}
.blog-area .blog-area-content p {
  padding: 0.5rem 0 0.5rem 0;
}
.blog-area .blog-area-content li {
  margin-left: 2rem;
}

@media (max-width: 800px) {
  .blog-title {
    padding: 2rem 4rem 0 4rem;
    font-weight: bold;
    font-size: 60px !important;
  }
  p {
    padding: 0.5rem 0 0.5rem 0;
    font-size: 18px !important;
  }
  .blog-area-content {
    padding: 0 2rem 2rem 2rem !important;
  }
  .blog-title {
    padding: 2rem 2rem 0 2rem !important;
  }
}
.box {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: 1px solid #2a2a2a;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.content-box .content-box-top {
  background-color: #770000;
  border-radius: 0px 15px 0px 0px;
  padding: 5px 15px 5px 15px;
}
.content-box .content-box-top .content-title {
  color: white !important;
  transform: translateY(1px);
}
.content-box .content-box-top .content-box-top-left .content-title, .content-box .content-box-top .content-box-top-left .content-codename {
  color: #000;
}
.content-box .content-box-top .content-box-top-left .content-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  min-height: 45px;
}
.content-box .content-box-top .content-box-top-left .content-codename {
  font-size: 14px;
  font-weight: bold;
}
.content-box .content-box-top .content-timestamp {
  color: #000;
}
.content-box .content-box-bottom {
  padding: 15px;
  border: 1px solid #2a2a2a;
  background-color: #0e0e0e;
}
.content-box .content-box-bottom .content-timestamp {
  font-size: 16px;
}
.content-box .content-box-bottom .content-img {
  width: 80px;
  height: 80px;
  border: 4px solid #1e1e1e;
  border-radius: 10px;
}

.content-desc {
  font-size: 16px !important;
}
.content-desc h1, .content-desc h2, .content-desc h3, .content-desc h4, .content-desc h5, .content-desc h6, .content-desc em, .content-desc p, .content-desc a, .content-desc ul, .content-desc ol, .content-desc li {
  font-size: 16px !important;
  font-weight: normal !important;
  font-style: normal !important;
}

.wide {
  width: 90vw !important;
}

@media (max-width: 500px) {
  .content-box {
    width: 100% !important;
  }
}
.button, input[type=submit] {
  background-color: #ff4444;
  color: #fff;
  border: 2px solid #770000;
  box-shadow: 2px 2px 0 #770000;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: 30ms ease-in-out;
}
.button:hover, input[type=submit]:hover {
  background-color: #4444ff;
  box-shadow: 2px 2px 0 #000077;
  border: 2px solid #000077;
}
.button:active, input[type=submit]:active {
  box-shadow: 0 0 0 darkred;
  transform: translateX(2px) translateY(2px);
}

.wide {
  width: 100%;
}

.content-area {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #2a2a2a;
  border-radius: 0px 15px 0px 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.content-area .content-area-top {
  color: #1e1e1e;
  border-radius: 0px 15px 0px 0px;
  padding: 10px 25px 10px 25px;
  font-size: 24px;
}
.content-area .content-area-bottom {
  padding: 25px;
}

.content-top-red, .content-top-green, .content-top-blue, .content-top-pink, .content-top-yellow {
  background-size: 200%;
  background-position: left;
}

.content-top-red {
  background-image: linear-gradient(45deg, #ff4444, #770000);
}

.content-top-green {
  background-image: linear-gradient(45deg, #44ff44, #007700);
}

.content-top-blue {
  background-image: linear-gradient(45deg, #4444ff, #000077);
}

.content-top-pink {
  background-image: linear-gradient(45deg, #ff77aa, #ff00aa);
}

.content-top-yellow {
  background-image: linear-gradient(45deg, #ffff00, #ffaa00);
}

.content-top-purple {
  background-image: linear-gradient(45deg, #ff00ff, #aa00aa);
}

.content-top-red, .content-top-green, .content-top-blue, .content-top-pink, .content-top-yellow {
  background-size: 200%;
  background-position: left;
  animation: animatedGradient 2s ease-in-out infinite forwards alternate;
}

.blog {
  margin-top: 2rem;
}

.blog-bottom {
  background-image: repeating-linear-gradient(45deg, #0e0e0e, #0e0e0e 10px, #1e1e1e 10px, #1e1e1e 20px);
  background-attachment: fixed;
  padding: 50px !important;
}

.content-area-red {
  transition: 100ms ease-in;
}

.content-area-green {
  transition: 100ms ease-in;
}

.content-area-blue {
  transition: 100ms ease-in;
}

.content-area-pink {
  transition: 100ms ease-in;
}

.content-area-yellow {
  transition: 100ms ease-in;
}

@keyframes animatedGradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@font-face {
  font-family: pixel;
  src: url("../fonts/3dpixel.ttf");
}
@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu.ttf");
}
@font-face {
  font-family: inconsolata;
  src: url("../fonts/inconsolata.ttf");
}
.sidebar .sidebar-content .sidebar-section .sidebar-title, h1, h2, h3, h4, h5, h6, .tabbed {
  font-family: ubuntu;
}

.sidebar .sidebar-content .sidebar-section .sidebar-projects li, p, a, span, li, button, .sidebar-blog-item-text {
  font-family: inconsolata;
  font-size: 24px;
}

.welcome-title span {
  font-family: pixel;
  font-size: 110px !important;
}

.star {
  color: #4444ff;
  font-size: 32px;
}

.dark {
  font-family: #000;
}

.title-area .title-area-heading {
  font-size: 112px;
  font-weight: bold;
  text-shadow: 0px 0px 50px blue;
  background-image: linear-gradient(45deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-size: 200%;
  background-position: left;
  animation: gradientAnimation 100ms infinite forwards alternate;
}
.title-area .title-area-subtitle {
  font-size: 48px;
}

.welcome-subtitle {
  font-size: 32px;
}

.tabbed {
  background-image: linear-gradient(45deg, #ff0000, #550000);
  box-shadow: 1px 1px 3px;
  color: #1e1e1e;
  border-radius: 0px 15px 15px 0px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.di {
  color: #1e1e1e;
}

.link-content-frame {
  text-decoration: none;
}

@keyframes gradientAnimation {
  0% {
    transform: translateX(-5px) translateY(-2px);
  }
  33% {
    transform: translateX(4px) translateY(1px);
  }
  45% {
    transform: translateX(-2px) translateY(-3px);
  }
  72% {
    transform: translateX(5px) translateY(1px);
  }
  100% {
    background-position: right;
  }
}
@media (max-width: 400px) {
  p, span, li, button, a {
    font-size: 18px !important;
  }
}
@media (max-width: 600px) {
  .welcome-title span {
    font-size: 70px !important;
  }
  .welcome-subtitle {
    font-size: 20px !important;
  }
}
footer {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #2a2a2a;
  padding: 50px;
}
footer .footer-copyright {
  font-size: 32px;
}
footer .social-links a .social-icon {
  font-size: 32px;
  padding-right: 10px;
}
footer .social-links a .social-icon:hover {
  color: #770000;
}

@media (max-width: 1000px) {
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon {
    font-size: 24px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
  }
}
.not-found {
  background-color: #1e1e1e;
  padding: 20px;
  margin: 15px 0;
  border: 4px solid red;
  border-radius: 10px;
}
.not-found .not-found-title {
  font-size: 60px;
}
.not-found .not-found-content {
  font-size: 30px;
}

@media (max-width: 600px) {
  .not-found {
    padding: 20px;
    margin: 15px;
  }
  .not-found .not-found-title {
    font-size: 30px;
  }
  .not-found .not-found-content {
    font-size: 20px;
  }
}
.projects {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-gap: 15px;
  padding-top: 15px;
}

.project-type {
  background-color: #1e1e1e;
  border: 3px solid #2e2e2e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  transform: rotate(-3deg);
}

.project-books {
  background-color: #ff77aa !important;
  border: 2px solid #ff00aa !important;
  color: #ff00aa;
}

.project-software {
  background-color: #44ff44;
  border: 2px solid #007700;
  color: #007700;
}

.project-empty {
  background-color: #1e1e1e;
  border: 2px solid #4e4e4e;
  color: #d0d0d0;
}

.project-games {
  background-color: #ff4444;
  border: 2px solid #770000;
  color: #770000;
}

.project-web {
  background-color: #4444ff;
  border: 2px solid #000077;
  color: #000077;
}

.project-manga {
  background-color: #ffff00;
  border: 2px solid #ffaa00;
  color: #ffaa00;
}

.home-welcum-section {
  flex-direction: column;
  background-image: url("../images/header-background.webp");
  background-size: cover;
  width: 100%;
  padding: 70px 0 70px 0;
  text-align: center;
}
.home-welcum-section h2 {
  font-size: 72px;
}
.home-welcum-section .home-welcum-content {
  flex-wrap: wrap;
}
.home-welcum-section .home-welcum-content .profile-icon {
  transition: 200ms ease-in;
}
.home-welcum-section .home-welcum-content .title-area .title-area-heading, .home-welcum-section .home-welcum-content .title-area .title-rea-subtitle {
  transition: 200ms ease-in;
}

@media (max-width: 1000px) {
  .home-welcum-section {
    background-size: cover;
    background-size: auto 100%;
  }
  .home-welcum-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .home-welcum-content .profile-icon {
    width: 208px;
    height: 208px;
    margin-bottom: 15px;
  }
  .home-welcum-content .title-area {
    text-align: center;
  }
  .home-welcum-content .title-area .title-area-heading {
    font-size: 64px;
  }
  .home-welcum-content .title-area .title-area-subtitle {
    font-size: 36px;
  }
}
@media (max-width: 1000px) {
  .title-area-heading {
    font-size: 32px !important;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 1px solid #2a2a2a;
  z-index: 100;
  width: 420px;
  overflow: scroll;
  padding: 25px;
  transform: translateX(-420px);
}
.sidebar .sidebar-content {
  position: relative;
}
.sidebar .sidebar-content .sidebar-exit-button, .sidebar .sidebar-content .cover-exit-button {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  cursor: pointer;
}
.sidebar .sidebar-content .sidebar-exit-button:hover, .sidebar .sidebar-content .cover-exit-button:hover {
  color: #770000;
}
.sidebar .sidebar-content .sidebar-section {
  margin-left: 3rem;
  margin-right: 2rem;
}
.sidebar .sidebar-content .sidebar-section .sidebar-title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: underline dotted #ff4444;
}
.sidebar .sidebar-content .sidebar-section .sidebar-subtitle {
  margin-bottom: 10px;
}
.sidebar .sidebar-content .sidebar-section .sidebar-projects li {
  margin-left: 3rem;
}

.sidebar-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: rgba(0, 0, 0, 0);
  z-index: 20;
  cursor: pointer;
}

.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  padding: 2rem;
}
.cover .sidebar-projects {
  margin: 1rem 1rem;
}
.cover .sidebar-project {
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ff4444;
  font-family: ubuntu;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #770000;
}

::selection {
  background-color: #aa00aa;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -20;
  object-fit: cover;
}

header {
  padding: 5px 15px;
}

.section {
  margin-bottom: 15px;
}

.page-content {
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
}

.sidebar-blog-item {
  margin-left: 1rem;
}

.profile-icon {
  border: 5px solid #ff4444;
  border-radius: 50%;
  max-width: 196px;
  max-height: 196px;
  margin-right: 15px;
}
.profile-icon:hover {
  animation: spin 2s forwards infinite;
  cursor: pointer;
}

.no-content {
  max-width: 100%;
  width: 240px;
  max-height: 100%;
  height: 70px;
  padding: 5px;
  border: 2px solid #ff4444;
  border-radius: 15px;
}

input[type=password] {
  display: block;
  background-color: black;
  border: 2px solid #ff4444;
  border-radius: 7.5px;
  padding: 7px 10px;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  body {
    background-size: auto !important;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
