<div class="content-box">
    <div class="content-box-top content-top-purple">
        <div class="content-box-top-left">
            <h3 class="content-title">{{ project.title }}</h3>

            {% if project.codename %}
                <p class="content-codename">Codename: {{ project.codename }}</p>
            {% endif %}
        </div>

        <span class="project-type project-{{ project.project_type }}">{{ project.project_type }}</span>
    </div>

    <div class="content-box-bottom">
        {% if project.project_image %}
            <img class="content-img" src="/static/images/submitted/{{ project.project_image }}" alt="Image for {{ project.title }}" >
        {% endif %}

        <p class="box content-desc">{{ project.description }}</p>

        {% if project.project_url %}
            <button data-link="{{ project.project_url }}" class="button read-more-button">View Website</button>
        {% endif %}
    </div>
</div>
