@use "params"; 

.blog-area {
    width: 100%;
    background-color: params.$bgPrimary;

    .blog-exit-link {
        display: block;
        background-color: params.$bgSecondary; 
        font-size: 20px;
        width: 100%; 
        padding: 15px;
    }

    .blog-title {
        padding: 2rem 8rem 0 8rem;
        font-weight: bold;
        font-size: 80px;
    }

    .blog-area-content {
        padding: 0 8rem 8rem 8rem;
        height: 100%; 

        h2 {
            font-size: 45px;
            padding: 1.5rem 0 0 0;
        }

        h3 {
            font-size: 35px;
            padding: 1.5rem 0 0 0;
        }

        h4 {
            font-size: 27px;
        }

        a, p {
            font-family: ubuntu !important;
        }

        a {
            color: params.$darkred;
        }

        p {
            padding: 0.5rem 0 0.5rem 0;
        }

        li {
            margin-left: 2rem;
        }
    }
}

@media (max-width: 800px) {
    .blog-title {
        padding: 2rem 4rem 0 4rem;
        font-weight: bold;
        font-size: 60px !important;
    }   

    p {
        padding: 0.5rem 0 0.5rem 0;
        font-size: 18px !important;
    }
    .blog-area-content {
        padding: 0 2rem 2rem 2rem !important;
    }

    .blog-title {
        padding: 2rem 2rem 0 2rem !important;
    }
}
