@use "params";

header {
    @extend %sideBySide;
    flex-wrap: wrap;
    padding: 20px !important;

    background-color: params.$bgPrimary;
    border-bottom: params.$border;

    .left-info-content {
        @extend %sideByLeft;
        cursor: pointer;
        transition: 200ms ease-in;

        .me {
            margin-left: 10px;
            margin-right: 10px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        &:hover {
            p {
                text-shadow: 0px 1px 3px params.$green;
                color: params.$green;
            }

            .me {
                border: 2px solid params.$green;
            }
        }
    }

    .links {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        user-select: none;

        .link {
            display: flex; 
            align-items: center;

            transform: rotate(5deg);
            border-radius: params.$br;
            margin-right: 15px;
            background-image: linear-gradient(params.$bgSecondary, params.$bgPrimary);
            box-shadow: 4px 4px 0px params.$bgSecondary; 
            padding: 13px 20px;
            list-style-type: none;
            cursor: pointer;
            transition: 30ms ease-in;

            &:hover {
                background-image: linear-gradient(#1e1e1e, #3e3e3e);
            }
        }
    }

    .left-content {
        top: 0;
        left: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 20px;

        .me-img {
            width: 32px;
            height: 32px;
            margin-right: 5px;
        }

        .sidebar-enter-button, .cover-enter-button, {
            margin-right: 5px;
            cursor: pointer;

            i {
                &:hover {
                    color: params.$darkred !important;
                }
            }
        }
    }
}

.clickable-element {
    text-decoration: none;
}

.cover-enter-button {
    display: none;
}

@media (max-width: 1000px) {
    .left-info-content {
        p {
            display: none;
        }
    }
}


@media (max-width: 800px) {
    .link {
        font-size: 18px;
        margin-right: 8px !important;
        box-shadow: 3px 3px 0px params.$bgSecondary !important; 
        padding: 10px 14px !important;

        .link-text {
            display: none;
        }

        &:active {
            box-shadow: 0px 0px 0px params.$bgSecondary !important; 
            transform: translateX(3px) translateY(3px) !important;
        }
    }
}


@media (max-width: 600px) {
    .link {
        margin-right: 8px !important;
        box-shadow: 3px 3px 0px params.$bgSecondary !important; 
        padding: 5px !important;

        .link-text {
            display: none;
        }

        &:active {
            box-shadow: 0px 0px 0px params.$bgSecondary !important; 
            transform: translateX(3px) translateY(3px) !important;
        }
    }

    .me {
        display: none;

    }

    .sidebar-enter-button {
        display: none;
    }

    .cover-enter-button {
        display: block;
    }
}
