@use "params";

.box {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: params.$bgTransparent;
    //backdrop-filter: params.$blur;
    border-radius: params.$br;
    border: params.$border;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 50%);
}

.content-box {
    .content-box-top {
        background-color: params.$darkred;
        .content-title {
            color: white !important;
            transform: translateY(1px);
        }

        .content-box-top-left {
            .content-title, .content-codename {
                color: #000;
            }

            .content-title {
                display: flex; 
                align-items: center;
                font-size: 24px;
                min-height: 45px;
            }

            .content-codename {
                font-size: 14px;
                font-weight: bold;

            }
        }

        @extend %sideBySide;
        border-radius: 0px params.$br 0px 0px;
        padding: 5px 15px 5px 15px;

        .content-timestamp {
            color: #000;
        }
    }

    .content-box-bottom {
        padding: 15px;
        border: params.$border;
        background-color: #0e0e0e;

        .content-timestamp {
            font-size: 16px;
        }

        .content-img {
            width: 80px;
            height: 80px;
            border: 4px solid #1e1e1e;
            border-radius: 10px;
        }
    }
}

.content-desc {
    font-size: 16px !important;
    h1, h2, h3, h4, h5, h6, em, p, a, ul, ol, li {
        font-size: 16px !important;
        font-weight: normal !important;
        font-style: normal !important;
    }
}

.wide {
    width: 90vw !important;
}

@media (max-width: 500px) {
    .content-box {
        width: 100% !important;
    }

}
