@use "params";

.button, input[type="submit"] {
    background-color: params.$red;
    color: #fff;
    border: 2px solid params.$darkred;
    box-shadow: 2px 2px 0 params.$darkred;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 30ms ease-in-out;

    &:hover {
        background-color: params.$blue;
        box-shadow: 2px 2px 0 params.$darkblue;
        border: 2px solid params.$darkblue;
    }

    &:active {
        box-shadow: 0 0 0 darkred;
        transform: translateX(2px) translateY(2px);
    }
}

.wide {
    width: 100%;
}
