@use "params";

.content-area {
    background-color: params.$bgTransparent;
    border: params.$border;
    border-radius: 0px params.$br 0px 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 50%);
    margin-bottom: 1rem;

    .content-area-top {
        color: params.$bgPrimary;
        border-radius: 0px params.$br 0px 0px;
        padding: 10px 25px 10px 25px;
        font-size: 24px;
    }

    .content-area-bottom {
        padding: 25px;
    }
}

.content-top-red, .content-top-green, .content-top-blue, .content-top-pink, .content-top-yellow {
    background-size: 200%;
    background-position: left;
}

.content-top-red {
    background-image: linear-gradient(45deg, params.$red, params.$darkred);
}

.content-top-green {
    background-image: linear-gradient(45deg, params.$green, params.$darkgreen);
}

.content-top-blue {
    background-image: linear-gradient(45deg, params.$blue, params.$darkblue);
}

.content-top-pink {
    background-image: linear-gradient(45deg, params.$pink, params.$darkpink);
}

.content-top-yellow {
    background-image: linear-gradient(45deg, params.$yellow, params.$darkyellow);
}

.content-top-purple {
    background-image: linear-gradient(45deg, params.$purple, params.$darkpurple);
}

.content-top-red, .content-top-green, .content-top-blue, .content-top-pink, .content-top-yellow {
    background-size: 200%;
    background-position: left;
    animation: animatedGradient 2s ease-in-out infinite forwards alternate;
}

.blog {
    margin-top: 2rem;
}

.blog-bottom {
    background-image: repeating-linear-gradient(45deg, #0e0e0e, #0e0e0e 10px, #1e1e1e 10px, #1e1e1e 20px);
    background-attachment: fixed;
    padding: 50px !important;
}

.content-area-red {
    transition: 100ms ease-in;
}

.content-area-green {
    transition: 100ms ease-in;
}

.content-area-blue {
    transition: 100ms ease-in;
}

.content-area-pink {
    transition: 100ms ease-in;
}

.content-area-yellow {
    transition: 100ms ease-in;
}

@keyframes animatedGradient {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}
