@use "params";

@font-face {
    font-family: pixel;
    src: url("../fonts/3dpixel.ttf");
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/ubuntu.ttf");
}

@font-face {
    font-family: inconsolata;
    src: url("../fonts/inconsolata.ttf");
}

%heading {
    font-family: ubuntu;
}

%content {
    font-family: inconsolata;
    font-size: 24px;
}

.welcome-title {
    span {
        font-family: pixel;
        font-size: 110px !important;
    }
}


h1, h2, h3, h4, h5, h6, .tabbed {
    @extend %heading;
}

p, a, span, li, button, .sidebar-blog-item-text {
    @extend %content;
}

.star {
    color: params.$blue;
    font-size: 32px;
}

.dark {
    font-family: #000;
}

.title-area {
    .title-area-heading {
        font-size: 112px;
        font-weight: bold;
        text-shadow: 0px 0px 50px blue;
        background-image: linear-gradient(45deg, red, blue);
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0,0,0,0);
        background-size: 200%;
        background-position: left;
        animation: gradientAnimation 100ms infinite forwards alternate;
    }

    .title-area-subtitle {
        font-size: 48px;
    }
}

.welcome-subtitle {
    font-size: 32px;
}

.tabbed {
    background-image: linear-gradient(45deg, #ff0000, #550000);
    box-shadow: 1px 1px 3px;
    color: params.$bgPrimary;
    border-radius: 0px params.$br 15px 0px;
    padding-left: 5px;
    margin-bottom: 5px;
}

p, a {
    @extend %content;
}

.di {
    color: params.$bgPrimary;

}

.link-content-frame {
    text-decoration: none;
}

@keyframes gradientAnimation {
    0% {
        transform: translateX(-5px) translateY(-2px);
    }

    33% {
        transform: translateX(4px) translateY(1px);
    }

    45% {
        transform: translateX(-2px) translateY(-3px);
    }

    72% {
        transform: translateX(5px) translateY(1px);
    }
    100% {
        background-position: right;
    }
}

@media (max-width: 400px) {
    p, span, li, button, a {
        font-size: 18px !important;
    }
}


@media (max-width: 600px) { 
    .welcome-title {
        span {
            font-size: 70px !important;
        }
    }

    .welcome-subtitle {
        font-size: 20px !important;
    }

}
