@use "params";

footer {
    @extend %sideBySide;
    align-items: center;
    background: params.$bgTransparent;
    border-top: params.$border;
    padding: 50px;

    .footer-copyright {
        font-size: 32px;
    }

    .social-links {
        a {
            .social-icon {
                font-size: 32px;
                padding-right: 10px;

                &:hover {
                    color: params.$darkred;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .social-icons {
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .social-icon {
        font-size: 24px !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
    }
}
