@use "params";

.not-found {
    background-color: #1e1e1e;
    padding: 20px; 
    margin: 15px 0; 
    border: 4px solid red;
    border-radius: 10px;

    .not-found-title {
        font-size: 60px;
    }

    .not-found-content {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .not-found {
        padding: 20px; 
        margin: 15px; 

        .not-found-title {
            font-size: 30px;
        }

        .not-found-content {
            font-size: 20px;
        }
    }
}
