%sideBySide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%sideByLeft {
    display: flex;
    justify-content: left;
    align-items: center;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//vars
$red: #ff4444;
$darkred: #770000;
$green: #44ff44;
$darkgreen: #007700;
$yellow: #ffff00;
$darkyellow: #ffaa00;
$blue: #4444ff;
$darkblue: #000077;
$pink: #ff77aa;
$darkpink: #ff00aa;
$purple: #ff00ff;
$darkpurple: #aa00aa;
$blur: blur(10px);
$bgTransparent: rgba(0, 0, 0, 80%);
$border: 1px solid #2a2a2a;
$bgPrimary: #1e1e1e;
$bgSecondary: #2e2e2e;
$br: 15px;
