@use "params";

// projects

.projects {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-gap: 15px;
    padding-top: 15px;
}


.project-type {
    background-color: #1e1e1e;
    border: 3px solid #2e2e2e;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    transform: rotate(-3deg);
}

.project-books {
    background-color: params.$pink !important;
    border: 2px solid params.$darkpink !important;
    color: params.$darkpink;
}

.project-software {
    background-color: params.$green;
    border: 2px solid params.$darkgreen;
    color: params.$darkgreen;
}
.project-empty {
    background-color: #1e1e1e;
    border: 2px solid #4e4e4e;
    color: #d0d0d0;
}

.project-games {
    background-color: params.$red;
    border: 2px solid params.$darkred;
    color: params.$darkred;
}

.project-web {
    background-color: params.$blue;
    border: 2px solid params.$darkblue;
    color: params.$darkblue;
}

.project-manga {
    background-color: params.$yellow;
    border: 2px solid params.$darkyellow;
    color: params.$darkyellow;
}
