@use "params";

.home-welcum-section {
    @extend %center;
    flex-direction: column;

    background-image: url("../images/header-background.webp");
    background-size: cover;
    width: 100%;
    padding: 70px 0 70px 0;
    text-align: center;

    h2 {
        font-size: 72px;
    }

    .home-welcum-content {
        @extend %sideByLeft;
        flex-wrap: wrap;

        .profile-icon {
            transition: 200ms ease-in;
        }

        .title-area {
            .title-area-heading, .title-rea-subtitle {
                transition: 200ms ease-in;
            }
        }
    }
}

@media (max-width: 1000px) {
    .home-welcum-section {
        background-size: cover;
        background-size: auto 100%;
    }
    .home-welcum-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .profile-icon {
            width: 208px;
            height: 208px;
            margin-bottom: 15px;
        }

        .title-area {
            text-align: center;
            .title-area-heading {
                font-size: 64px;
            }

            .title-area-subtitle {
                font-size: 36px;
            }
        }
    }
}


@media (max-width: 1000px) {
    .title-area-heading {
        font-size: 32px !important;
    }

}
