@use "params";
@use "fonts";

$length: 420px;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: params.$bgTransparent;
    //backdrop-filter: params.$blur;
    border-right: params.$border;
    z-index: 100;
    width: $length;
    overflow: scroll;
    padding: 25px;
    transform: translateX(-$length);

    // Webkit scrollbar theme

    .sidebar-content {
        position: relative;

        .sidebar-exit-button, .cover-exit-button {
            font-size: 24px;
            position: absolute; 
            top: 0;
            left: 0;
            margin-top: 10px;
            cursor: pointer;

            &:hover {
                color: params.$darkred;
            }
        }

        // sidebar
        .sidebar-section {
            margin-left: 3rem;
            margin-right: 2rem;

            .sidebar-title {
                @extend %heading;
                font-size: 48px;
                font-weight: bold;
                padding-bottom: 10px;
                text-decoration: underline dotted params.$red;
            }

            .sidebar-subtitle {
                margin-bottom: 10px;
            }

            .sidebar-projects {
                li {
                    @extend %content;
                    margin-left: 3rem;
                }
            }
        }
    }
}

.sidebar-cover {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-image: rgba(0,0,0,0);
    z-index: 20;
    cursor: pointer;
}

.cover {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,85%);
    padding: 2rem;

    .sidebar-projects {
        margin: 1rem 1rem;
    }

    .sidebar-project {
        display: inline-block;
    }
}
