{% extends "base.html" %}
{% block title %}404 Not funny{% endblock %}
{% block main %}
<div class="not-found">
    <div class="not-found-content">
        <h1 class="not-found-title">404 Not funny</h1>
        <p class="not-found-content">Page wasn't found</p>
    </div>
</div>

{% endblock %}
