<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.css" integrity="sha512-3quBdRGJyLy79hzhDDcBzANW+mVqPctrGCfIPosHQtMKb3rKsCxfyslzwlz2wj1dT8A7UX+sEvDjaUv+WExQrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/fomantic.css">
</head>
<body>
    <div class="ui container wrapper" style="margin-top: 25px;">
        <header>
            <h1 class="ui dividing header">
                Admin Panel
            </h1>

            <a href="/" rel="noopener noreferrer">Back to Website</a>
            <a class="logout-button" rel="noopener noreferrer">Log out</a>
        </header>

        <main>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <section class="flashed-messages">
                        {% for m in messages %}
                            <div class="ui green message">
                                <p>{{ m }}</p>
                            </div>
                        {% endfor %}
                    </section>
                {% endif %}
            {% endwith %}

            <section>
                <h2 class="ui header">Add Project</h2>
                <form action="/admin" method="post" class="ui form" enctype="multipart/form-data">
                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">Title</div>
                            <input type="text" class="project-title" name="project-title" id="project-title" placeholder="Project Title" required>
                        </div>
                    </div>

                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">Codename (optional)</div>
                            <input type="text" class="project-codename" name="project-codename" id="project-codename" placeholder="Project Codename (optional)">
                        </div>
                    </div>

                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">URL (optional)</div>
                            <input type="text" class="project-url" name="project-url" id="project-url" placeholder="Project URL (optional)">
                        </div>
                    </div>

                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">Type</div>

                            <select class="ui selection dropdown" name="project-type">
                                <option value="empty">Select One *</option>
                                <option value="books">Books</option>
                                <option value="games">Games</option>
                                <option value="manga">Manga</option>
                                <option value="software">Software: General programs for desktop or mobile.</option>
                                <option value="web">Web: Web applications. They can have software associated with them, but are not primarly software-based.</option>
                            </select>
                        </div>
                    </div>

                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">Category</div>

                            <select class="ui selection dropdown" name="project-category">
                                <option value="empty">Select One *</option>
                                <option value="completed">Completed: Is done and available to the public, many times recieving updated</option>
                                <option value="construction">Under Construction: Currently being worked on</option>
                                <option value="scrapped">Scrapped: Not done and never will be</option>
                            </select>
                        </div>
                    </div>

                    <div class="ui field">
                        <label for="project-desc">Project Desc</label>
                        <div class="ui corner labeled input">
                            <textarea name="project-desc" id="project-desc" cols="30" rows="10" placeholder="Project Desc" required></textarea>

                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="ui field">
                        <label for="project-featured">Feature the project?</label>

                        <span>Yes: </span><input type="radio" name="project-featured" value="yes" id="project-featured">
                        <span>No: </span><input type="radio" name="project-featured" value="no" id="project-featured">
                    </div>

                    <div class="ui field">
                        <label for="image">Image: </label>
                        <input type="file" class="button" name="project-image" id="image">
                    </div>

                    <input class="ui button" type="submit" value="Submit Project">
                </form>

            </section>

            <div class="ui divider"></div>

            <section>
                <h2 class="ui header">Add Blog</h2>

                <form action="/admin" class="ui form" method="POST">
                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">Title</div>
                            <input type="text" class="blog-title" name="blog-title" id="blog-title" placeholder="Blog Title" required>
                        </div>
                    </div>

                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">Summary</div>
                            <input type="text" class="blog-summary" name="blog-summary" id="blog-summary" placeholder="Blog Summary" required>
                        </div>
                    </div>

                    <div class="ui field">
                        <textarea name="blog-content" id="" cols="30" rows="10" placeholder="Content" required></textarea>
                    </div>

                    <input type="submit" value="Submit Blog Post" class="ui button">
                </form>
            </section>
        </main>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.js" integrity="sha512-gnoBksrDbaMnlE0rhhkcx3iwzvgBGz6mOEj4/Y5ZY09n55dYddx6+WYc72A55qEesV8VX2iMomteIwobeGK1BQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js" integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function logout() {
            console.log("THIS RAN")
            const logout_button = document.querySelector(".logout-button")

            if (logout_button != null && logout_button != undefined) {
                logout_button.addEventListener("click", () => {
                    Cookies.remove("token")
                    location.href = "/"
                })
            }
        }

        logout()
    </script>
</body>
</html>
