<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | sinistra-website</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bundle.css') }}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Meta -->
    <meta name="author" content="Sinistra">
    <meta name="keywords" content="s1nistr4, sinistra, sinistra website, lewdtropolis, super mario retro">
    <meta name="description" content="my personal website">

    <meta name="author" content="s1nistr4" />

    <!-- Prevents the dark theme from destroying your website -->
    <meta name="color-scheme" content="light only">

    <meta property="og:site_title" content="s1nistr4 website" />
    <meta property="og:title" content="s1nistr4 website" />
    <meta property="og:description" content="my personal website" />
    
    <!-- Site Image -->
    <meta property="og:image" itemprop="image" content="{{ url_for('static', filename='images/me3.jpg') }}" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:type" content="image/png" />
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="left-content">
                <span class="sidebar-enter-button"><i class="fa-solid fa-bars"></i></span>
                <span class="cover-enter-button"><i class="fa-solid fa-bars"></i></span>

                <a href="/" class="link-content-frame">
                    <div class="left-info-content">
                        <img class="me" src="{{ url_for('static', filename='images/me.jpg') }}" alt="me, aka gigachad">
                        <p> S1nistr4 Website</p>
                    </div>
                </a>
            </div>

            <ul class="links">
                <li class="link header-link" data-link="{{ url_for('home.home') }}">
                    <lottie-player autoplay loop mode="normal"
                            src="/static/icons/home.json"
                            style="display: inline-block; width: 38px"
                    ></lottie-player>
                    <span class="link-text">Home</span>
                </li>

                <li class="link header-link" data-link="{{ url_for('projects_route.projects_route') }}">
                    <lottie-player autoplay loop mode="normal"
                            src="/static/icons/projects.json"
                            style="display: inline-block; width: 38px"
                    ></lottie-player>
                    <span class="link-text">Projects</span></span>
                </li>

                <li class="link header-link" data-link="{{ url_for('blog.blog') }}">
                    <lottie-player autoplay loop mode="normal"
                            src="/static/icons/blog.json"
                            style="display: inline-block; width: 38px"
                    ></lottie-player>
                    <span class="link-text">Blog</span>
                </li>

                {% if sc.header == sc.key %}
                    <li class="link header-link" data-link="{{ url_for('admin.admin') }}">
                        <lottie-player autoplay loop mode="normal"
                                src="/static/icons/admin.json"
                                style="display: inline-block; width: 38px"
                        ></lottie-player>
                        <span class="link-text"> Admin</span>
                    </li>
                {% endif %}
            </ul>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        {# Overlay Features #}
        <div class="sidebar-cover"></div>
        <div class="sidebar">
            <div class="sidebar-content">
                <span><i class="fa-solid fa-bars sidebar-exit-button"></i></span>
                <div class="sidebar-section">
                    <h1 class="sidebar-title">Projects</h1>
                    <p class="sidebar-subtitle">These are all of my projects in alphabetical order.</p>
                    {% if projects %}
                        <ul class="sidebar-projects">
                            {% for project in projects %}
                                {% if project.project_url %}
                                    <li class="sidebar-project"><a href="{{ project.project_url }}" rel="noopener noreferrer" target="_blank">{{ project.title }}</a></li>
                                {% else %}
                                    <li class="sidebar-project">{{ project.title }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="cover">
             <div class="sidebar-content">
                <span><i class="fa-solid fa-bars cover-exit-button"></i></span>
                <div class="sidebar-section">
                    <h1 class="sidebar-title">Projects</h1>
                    <p class="sidebar-subtitle">These are all of my projects in alphabetical order.</p>
                    {% if projects %}
                        <ul class="sidebar-projects">
                            {% for project in projects %}
                                {% if project.project_url %}
                                    <li class="sidebar-project"><i class="fa-solid fa-circle-arrow-right"></i> <a href="{{ project.project_url }}" rel="noopener noreferrer" target="_blank"> {{ project.title }}</a></li>
                                {% else %}
                                    <li class="sidebar-project"><i class="fa-solid fa-circle-arrow-right"></i> {{ project.title }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
             </div>
        </div>
    </div>

    <footer>
        <div class="footer-left">
            <p class="footer-copyright">&copy ock</p>
            <a href="https://gitlab.com/s1nistr4/sinistra-website" rel="noopener noreferrer" target="_blank" >Source Code</a>
        </div>
        
        <div class="social-links">
            <a href="https://mastodon.world/@s1nistr4" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-mastodon social-icon"></i></a>
            <a href="https://odysee.com/@s1nistr4:b" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-odysee social-icon"></i></a>
            <a href="https://communities.win/u/s1nistr4" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-stripe-s social-icon"></i></a>

            <a style="text-decoration: none" href="mailto:s1nistr4@proton.me" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-envelope social-icon"></i>
            </a>

            <a style="text-decoration: none" href="https://lemmy.world/u/s1nistr4" target="_blank" rel="noopener noreferrer">
                <img class="social-icon" style="width: 50px; height: 28px" src="{{ url_for('static', filename='images/lemmy.webp') }}" />
            </a>

        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-player/2.0.2/lottie-player.js" integrity="sha512-NcJNVDzfhHalE0Dj3s8ub4hW0QYw1hfk05I53N3MTXOYDDGt0wpXmAPve+GhmmdDxik8pTUONQjeNKDO/p7rhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <video class="video-background" src="/static/videos/heart.mp4" autoplay muted loop></video>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>
