{% extends "base.html" %}
{% block title %}le blog{% endblock %}
{% block main %}
    <div class="section home-welcum-section">
        <span class="welcome-title">
            <span class="letter">B</span>
            <span class="letter">l</span>
            <span class="letter">o</span>
            <span class="letter">g</span>
        </span>
        <p class="welcome-subtitle">Where I write about stupid bullshit.</p>
    </div>

    <section class="section">
        {% if blogs %}
            {% for i in blogs %}
                <div class="content-area wide content-area-blue">
                    <h2 class="content-area-top content-top-blue"><i class="fa-solid fa-globe di"></i> {{ i.title }}</h2>
                    <div class="content-area-bottom">
                        <p class="blog-post-timestamp">{{ i.timestamp.strftime(ts) }}</p>
                        <p class="blog-post-content">{{ i.summary }}</p>
                        <a href="{{ url_for('in_blog.in_blog', blog=i.uid) }}"><button class="button">Read More</button></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}
