{% extends "base.html" %}
{% block title %}w3lc0me 2 h3ll{% endblock %}
{% block main %}
    <div class="section home-welcum-section">
        <div class="home-welcum-content">
            <img src="{{ url_for('static', filename='images/me2.webp') }}" class="profile-icon" alt="profile icon">

            <div class="title-area">
                <h1 class="title-area-heading">♥~Welcum~♥</h1>
                <p class="title-area-subtitle">to my website</p>
            </div>
        </div>
    </div>

    <div class="page-content">
        <section class="section">
            <div class="content-area content-area-red">
                <h2 class="content-area-top content-top-red"><i class="fa-solid fa-circle-info di"></i> About</h2>
                <div class="content-area-bottom">
                    <p>CEO <span class="star">☆</span> Crypto Enterpreneur <span class="star">☆</span> Vegan <span class="star">☆</span> Masters in Psychology <span class="star">☆</span> Dating Coach <span class="star">☆</span> 128 IQ <span class="star">☆</span> Free Thinker <span class="star">☆</span> Kali Linux User <span class="star">☆</span> Sigma Male <span class="star">☆</span> PHP Developer <span class="star">☆</span> League <span class="star">☆</span> ACAB <span class="star">☆</span> Furry <span class="star">☆</span> Discord Moderator <span class="star">☆</span>  Nofap</p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="content-area content-area-blue">
                <h2 class="content-area-top content-top-blue"><i class="fa-solid fa-list-check di"></i> Featured Projects</h2>
                <div class="content-area-bottom">
                    <p>projects imma working on</p>

                    <div class="projects">
                        {% if projects %}
                            {% for project in projects[:3] %}
                                {% if project.featured == True %}
                                    {% include("includes/project_box.html") %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="no-content">
                                <p>No projects?</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="content-area content-area-green">
                <h2 class="content-area-top content-top-green"><i class="fa-solid fa-blog di"></i> Latest Blogs</h2>
                <div class="content-area-bottom">
                    <p>Read all this garbage.</p>
                    <div class="projects">
                        {% if blogs %}
                            {% for i in blogs[0:4] %}
                                <div class="content-box">
                                    <div class="content-box-top content-top-purple">
                                        <h3 class="content-title">{{ i.title }}</h3>
                                    </div>

                                    <div class="content-box-bottom">
                                        <p class="content-timestamp">{{ i.timestamp.strftime(strf) }}</p>
                                        <div class="box content-desc">
                                            {{ i.summary }}
                                        </div>

                                        <a href="{{ url_for('in_blog.in_blog', blog=i.uid) }}" rel="nopener noreferrer" target="_blank"><button class="button">Read More</button></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
