{% extends "base.html" %}
{% block title %}{{ blog.title }}{% endblock %}

{% block main %}
    <div class="blog-area">
        <a href="/blog/" class="blog-exit-link" rel="noopener noreferrer">Go back</a>
        <p class="blog-title">{{ blog.title }}</p>

        <div class="blog-area-content">
            {% autoescape off %}
                {{ blog.content }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
