{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block main %}
<div class="section home-welcum-section">
    <span class="welcome-title">
        <span class="letter">P</span>
        <span class="letter">r</span>
        <span class="letter">o</span>
        <span class="letter">j</span>
        <span class="letter">e</span>
        <span class="letter">c</span>
        <span class="letter">t</span>
        <span class="letter">s</span>
    </span>

    <p class="welcome-subtitle">This is what you are here for, if at all.</p>
</div>

<div class="page-content">
    <section class="section">
        <div class="content-area content-area-yellow">
            <h2 class="content-area-top content-top-yellow"><i class="fa-solid fa-globe di"></i> Completed</h2>
            <div class="content-area-bottom">
                <p>Completed and ready2go. They may recieve updates but the full version is completed from start to finish.</p>

                <div class="projects">
                    {% if projects %}
                        {% for project in projects %}
                            {% if project.project_category == "completed" %}
                                {% include("includes/project_box.html") %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
    </section>
    <section class="section">
        <div class="content-area content-area-yellow">
            <h2 class="content-area-top content-top-yellow"><i class="fa-solid fa-globe di"></i> Under Construction</h2>
            <div class="content-area-bottom">
                <p>Projects that are being worked on, but aren't released to the public.</p>

                <div class="projects">
                    {% if projects %}
                        {% for project in projects %}
                            {% if project.project_category == "construction" %}
                                {% include("includes/project_box.html") %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
    </section>

    <section class="section">
        <div class="content-area content-area-yellow">
            <h2 class="content-area-top content-top-yellow"><i class="fa-solid fa-globe di"></i> Scrapped</h2>
            <div class="content-area-bottom">
                <p>Were being worked once upon a time, but no longer.</p>

                <div class="projects">
                    {% if projects %}
                        {% for project in projects %}
                            {% if project.project_category == "scrapped" %}
                                {% include("includes/project_box.html") %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
    </section>
</div>
{% endblock %}
