{% extends "base.html" %}
{% block main %} 

<div class="section home-welcum-section">
    <h2 class="welcome-title">Sign In</h2>
</div>

<form action="{{ url_for('signin.signin') }}" method="POST">
    <input type="password" name="token" id="token" placeholder="Token" class="wide" required />
    <input type="submit" class="wide" value="Log in">
</input>

{% endblock %}
